<% if book.errors.any? %>
  <h3><%= book.errors.count %> errors prohibited this obj from being saved:</h3>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="info">
  <h1>User info</h1>
  <div class="profile-container">
  <%= attachment_image_tag user, :profile_image, :fill, 90, 100, format: 'jpeg', fallback: "no_image.jpg" %>

  </div>


        <table class="table">
            <tbody>
              <tr>
                <th>name</th>
                <td><%= user.name %></td>
              </tr>
              <tr>
                <th>introduction</th>
                <td><%= user.introduction %></td>
              </tr>
            </tbody>
        </table>
        <%= link_to "", edit_user_path(user),  class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
         <p><%= link_to "", edit_user_path(user),  class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_13797"%></p>




    <h2>New book</h2>
      <%= form_for(book) do |f| %>
          <label>Title</label>
      <br>
          <%= f.text_field :title, class: "col-md-12 book_title" %>
      <br>
          <label>opinion</label>
      <br>
          <%= f.text_area :body, class: "col-md-12 book_body" %>
      <br>
      <br>
      <br>
      <div class="actions">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
      </div>
      <% end %>
</div>